/*===================== GLOBAL STYLES =====================*/

* {
   box-sizing: border-box;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}

h1 {
  padding-left: 20px;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.4em;
}

p {
  text-transform: none;
  font-size: 18px;
  line-height: 28px;
  color: #808080;
}

p a {
  color: #000;
  /*text-decoration: none;*/
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

p a:hover {
  color: #ADD8E6;
}

span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/*===================== NAV STYLES =====================*/

header {
  position: fixed;
  width: 100%;
  background-color: #FFF;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  z-index: 1;
}

header a {
   text-decoration: none;
}

header h1 a {
   color: #000;
}

nav ul {
  margin-left: -28px;
  margin-bottom: 0px;
  padding-bottom: 12px;
  font-size: 12px;
  list-style-type: none;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

nav li {
  display: inline;
  padding: 5px 10px 13px 8px;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
}

nav li:last-of-type {
  border-style: hidden;
}

nav li a {
  color: #000;
  /* text-decoration: none; */
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

nav li a:hover, nav li a.active {
  color: #ADD8E6;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    min-width: 0px;
    width: 160px;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
  }

  nav ul {
    margin-left: 0;
    padding-bottom: 0;
    border-width: 0 0 0 0;
  }

  nav li {
    display: block;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px -22px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
  }
}

/*===================== MAIN CONTENT STYLES =====================*/

.work {
  float: left;
  margin: 75px 0px 0px 0px;
}

.content {
  float: left;
  margin: 75px 10px 0px 10px;
}

img.narrow, img.wide {
  width: 100%;
  border: 1px solid #cccccc;
}

.img-wrap {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding: 0px;
  cursor: pointer;
}

.img-wrap.wide {
  display: block;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.img-description {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: 0px;
  background: rgba(255, 255, 255, 0.75);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

  .img-description p {
    position: absolute;
    top: 40%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-align: center;
  }

.intro {
   display: block;
   height: 100vh;
   margin: 0px 10px 0px 10px;
}

.intro .text {
   position: absolute;
   bottom: 35%;
}

@media (min-width: 481px) {
  img.narrow {
    max-width: 400px;
  }

  img.wide {
    max-width: 800px;
  }

  .img-wrap {
    max-width: 400px;
  }

  .img-wrap.wide {
    max-width: 800px;
  }
}

@media (min-width: 768px) {
  .work {
    float: left;
    margin: 0px 0px 0px 170px;
  }

  .content {
    float: left;
    max-width: 800px;
    margin: 0px 10px 0px 190px;
  }

  .intro {
     margin: 0px 10px 0px 190px;
  }

  .intro .text {
     bottom: 50%;
 }
}
